.section {
  display: grid;
  gap: 32px;
}

.imageSkeleton {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.lineSmall {
  width: 96px;
  height: 16px;
}

.lineTitle {
  width: 75%;
  height: 48px;
}

.linePrice {
  width: 33%;
  height: 32px;
}

.lineParagraph {
  width: 100%;
  height: 80px;
}

.lineButton {
  width: 192px;
  height: 44px;
}

@media (min-width: 1024px) {
  .section {
    grid-template-columns: minmax(0, 1.1fr) minmax(0, 0.9fr);
  }
}
